@import 'mixins';

#header {

  background-color: $cgs-dark-blue;

}

#logonFormContainer {

  position:relative;
  left: 25%;
  margin-top: 50px;
  width: 50%;

}

#logonForm {

  input {
    width: 100%;
    margin: 10px;
    padding: 5px;
    clear: both;
  }

  button {
    width: 25%;
    position:relative;
    left: 76.75%;
    clear:both;
  }

}

#timeOptionsBar {
  position:relative;
  margin-top: 50px;
  margin-bottom: 10px;

}

#firstInfobox {
  position: relative;
}

.container {
  position:absolute;
  margin: 0 auto;
  width: 100%;
}
